/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    background-color: darkslategrey;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: slategrey;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 25px;
    border-width: 0px;
    border-color: orange;
    border-style: solid;
}

img {
    margin-right: 545px;
    margin-left: 545px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

/* hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
} */

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header nav ul li {
    display: inline;
    -moz-display: inline;
    -ms-display: inline;
    -webkit-display: inline;

}

header>nav>ul,
a#navbarlinks {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-decoration: unset;
    color: white;
    background-color: orange;
    text-align: center;
    border-radius: 25px;
    transition: 0.25s;
    -moz-list-style-type: none;
    -moz-margin: 0;
    -moz-padding: 20px;
    -moz-text-decoration: unset;
    -moz-color: white;
    -moz-background-color: orange;
    -moz-text-align: center;
    -moz-border-radius: 25px;
    -ms-list-style-type: none;
    -ms-margin: 0;
    -ms-padding: 20px;
    -ms-text-decoration: unset;
    -ms-color: white;
    -ms-background-color: orange;
    -ms-text-align: center;
    -ms-border-radius: 25px;
    -webkit-list-style-type: none;
    -webkit-margin: 0;
    -webkit-padding: 20px;
    -webkit-text-decoration: unset;
    -webkit-color: white;
    -webkit-background-color: orange;
    -webkit-text-align: center;
    -webkit-border-radius: 25px;
}

header>nav>ul>li>a#navbarlinks:active,
header>nav>ul>li>a#navbarlinks:hover {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-decoration: unset;
    color: orange;
    background-color: #222;
    text-align: center;
    transition: 0.25s;
    -moz-list-style-type: none;
    -moz-margin: 0;
    -moz-padding: 20px;
    -moz-text-decoration: unset;
    -moz-color: orange;
    -moz-background-color: #222;
    -moz-text-align: center;
    -moz-transition: 0.5s;
    -ms-list-style-type: none;
    -ms-margin: 0;
    -ms-padding: 20px;
    -ms-text-decoration: unset;
    -ms-color: orange;
    -ms-background-color: #222;
    -ms-text-align: center;
    -ms-transition: 0.5s;
    -webkit-list-style-type: none;
    -webkit-margin: 0;
    -webkit-padding: 20px;
    -webkit-text-decoration: unset;
    -webkit-color: orange;
    -webkit-background-color: #222;
    -webkit-text-align: center;
    -webkit-transition: 0.5s;
}

/* The above piece of code changes the text and background color of the navigation bar when it is activated, and when it is hovered across. */

/* 
===========================================================================
Author's Custom Style Rules (Begin)
===========================================================================
*/

a#projectlinks,
li#projectlistings {
    text-align: center;
    color: white;
    text-decoration-line: none;
    list-style: none;
    transition: 0.25s;
}

li#projectlistings:hover {
    border: 5px solid orange;
    border-radius: 25px;
    background-color: orange;
    transition: 0.25s;
}

h1 {
    text-align: center;
    background-color: orange;
    border-radius: 25px;
    -moz-text-align: center;
    -moz-background-color: orange;
    -moz-border-radius: 25px;
    -ms-text-align: center;
    -ms-background-color: orange;
    -ms-border-radius: 25px;
    -webkit-text-align: center;
    -webkit-background-color: orange;
    -webkit-border-radius: 25px;
}

/*
===========================================================================
The above piece of code modifies the appearances (text-align, background-color, border-radius) of all <h1> elements, as well as adding cross-browser extensions so that the code functions properly in all major browsers.
===========================================================================
*/

h2#summaryh2,
h2#personalprofileh2,
h2#ksah2,
h2#educationh2,
h2#experienceh2,
h2#hobbiesh2,
h2#skillsh2 {
    color: white;
    background-color: #222;
    border-color: #222;
    border-radius: 25px;
    border-style: solid;
    border-width: 0px;
    text-align: center;
    width: 300px;
    margin: auto;
    -moz-color: white;
    -moz-background-color: #222;
    -moz-border-color: #222;
    -moz-border-radius: 25px;
    -moz-border-style: solid;
    -moz-border-width: 0px;
    -moz-text-align: center;
    -moz-width: 300px;
    -moz-margin: auto;
    -ms-color: white;
    -ms-background-color: #222;
    -ms-border-color: #222;
    -ms-border-radius: 25px;
    -ms-border-style: solid;
    -ms-border-width: 0px;
    -ms-text-align: center;
    -ms-width: 300px;
    -ms-margin: auto;
    -webkit-color: white;
    -webkit-background-color: #222;
    -webkit-border-color: #222;
    -webkit-border-radius: 25px;
    -webkit-border-style: solid;
    -webkit-border-width: 0px;
    -webkit-text-align: center;
    -webkit-width: 300px;
    -webkit-margin: auto;
}

/*
===========================================================================
The above piece of code modifies the appearances (text color, background-color, border-color, border-radius, border-style, border-width, text-align, width, margin) of all <h2> elements with the following id (#): summaryh2, personalprofileh2, ksah2, educationh2, experienceh2, hobbiesh2, skillsh2; as well as adding cross-browser extensions so that the code functions properly in all major browsers.
===========================================================================
*/

h3#chapters {
    color: white;
    background-color: #222;
    border-color: #222;
    border-radius: 25px;
    border-style: solid;
    border-width: 0px;
    text-align: center;
    width: 300px;
    margin: auto;
    -moz-color: white;
    -moz-background-color: #222;
    -moz-border-color: #222;
    -moz-border-radius: 25px;
    -moz-border-style: solid;
    -moz-border-width: 0px;
    -moz-text-align: center;
    -moz-width: 300px;
    -moz-margin: auto;
    -ms-color: white;
    -ms-background-color: #222;
    -ms-border-color: #222;
    -ms-border-radius: 25px;
    -ms-border-style: solid;
    -ms-border-width: 0px;
    -ms-text-align: center;
    -ms-width: 300px;
    -ms-margin: auto;
    -webkit-color: white;
    -webkit-background-color: #222;
    -webkit-border-color: #222;
    -webkit-border-radius: 25px;
    -webkit-border-style: solid;
    -webkit-border-width: 0px;
    -webkit-text-align: center;
    -webkit-width: 300px;
    -webkit-margin: auto;
}

/*
===========================================================================
The above piece of code modifies the appearances (text color, background-color, border-color, border-radius, border-style, border-width, text-align, width, margin) of all <h3> elements with the following id (#): chapters; as well as adding cross-browser extensions so that the code functions properly in all major browsers.
===========================================================================
*/

div#summaryparagraph,
div#shortsummary,
div#ksa,
div#education,
div#experience,
div#hobbies,
div#skills {
    color: white;
    background-color: orange;
    border-color: orange;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: 0.5s;
    -moz-color: white;
    -moz-background-color: orange;
    -moz-border-color: orange;
    -moz-border-radius: 25px;
    -moz-border-style: solid;
    -moz-border-width: 1px;
    -moz-text-align: center;
    -moz-margin-bottom: 15px;
    -moz-margin-top: 15px;
    -ms-color: white;
    -ms-background-color: orange;
    -ms-border-color: orange;
    -ms-border-radius: 25px;
    -ms-border-style: solid;
    -ms-border-width: 1px;
    -ms-text-align: center;
    -ms-margin-bottom: 15px;
    -ms-margin-top: 15px;
    -webkit-color: white;
    -webkit-background-color: orange;
    -webkit-border-color: orange;
    -webkit-border-radius: 25px;
    -webkit-border-style: solid;
    -webkit-border-width: 1px;
    -webkit-text-align: center;
    -webkit-margin-bottom: 15px;
    -webkit-margin-top: 15px;
}

/*
===========================================================================
The above pieces of code modify the appearances (text color (white), background color (orange), borders (colors (orange), radii, styles, width), text alignment, top and bottom margins) of all div elements with the following id (#): summaryparagraph, shortsummary, ksa, education, experience, hobbies, skills; as well as adding cross-browser extensions so that the code functions properly in all major browsers.
===========================================================================
*/

div#ksa,
div#education,
div#experience,
div#hobbies,
div#skills {
    text-align: unset;
    -moz-text-align: unset;
    -ms-text-align: unset;
    -webkit-text-align: unset;
}

/*
===========================================================================
The above pieces of code modify the appearances (text alignment) of all div elements with the following id (#): ksa, education, experience, hobbies, skills; as well as adding cross-browser extensions so that the code functions properly in all major browsers.
===========================================================================
*/

div#summaryparagraph:hover,
div#shortsummary:hover,
div#ksa:hover,
div#education:hover,
div#experience:hover,
div#hobbies:hover,
div#skills:hover {
    color: orange;
    background-color: #222;
    border-color: orange;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    padding-top: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    transition: 0.5s;
    -moz-color: orange;
    -moz-background-color: #222;
    -moz-border-color: orange;
    -moz-border-radius: 25px;
    -moz-border-style: solid;
    -moz-border-width: 3px;
    -moz-padding-top: 25px;
    -moz-margin-bottom: 25px;
    -moz-margin-top: 25px;
    -moz-transition: 0.5s;
    -ms-color: orange;
    -ms-background-color: #222;
    -ms-border-color: orange;
    -ms-border-radius: 25px;
    -ms-border-style: solid;
    -ms-border-width: 3px;
    -ms-padding-top: 25px;
    -ms-margin-bottom: 25px;
    -ms-margin-top: 25px;
    -ms-transition: 0.5s;
    -webkit-color: orange;
    -webkit-background-color: #222;
    -webkit-border-color: orange;
    -webkit-border-radius: 25px;
    -webkit-border-style: solid;
    -webkit-border-width: 3px;
    -webkit-padding-top: 25px;
    -webkit-margin-bottom: 25px;
    -webkit-margin-top: 25px;
    -webkit-transition: 0.5s;
}

/*
===========================================================================
The above pieces of code modify the appearances (text color (orange), background color (black), borders (colors (orange), radii, styles, width), padding on the top, top and bottom margins, transitions of appearances when the elements are hovered upon) of all div elements with the following id: summaryparagraph, shortsummary, ksa, education, experience, hobbies, skills, as well as their appearances when the cursor is hovered over aforementioned div elements, in addition to adding cross-browser extensions so that the code functions properly in all major browsers.
===========================================================================
*/

/*
===========================================================================
Footer Styles (BEGIN)
===========================================================================
*/

footer {
    background-color: orange;
    border-color: orange;
    border-radius: 25px;
    border-style: solid;
    border-width: 0px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    -moz-background-color: orange;
    -moz-border-color: orange;
    -moz-border-radius: 25px;
    -moz-border-style: solid;
    -moz-border-width: 0px;
    -moz-color: white;
    -moz-padding-top: 5px;
    -moz-padding-bottom: 5px;
    -moz-text-align: center;
    -ms-background-color: orange;
    -ms-border-color: orange;
    -ms-border-radius: 25px;
    -ms-border-style: solid;
    -ms-border-width: 0px;
    -ms-color: white;
    -ms-padding-top: 5px;
    -ms-padding-bottom: 5px;
    -ms-text-align: center;
    -o-background-color: orange;
    -o-border-color: orange;
    -o-border-radius: 25px;
    -o-border-style: solid;
    -o-border-width: 0px;
    -o-color: white;
    -o-padding-top: 5px;
    -o-padding-bottom: 5px;
    -o-text-align: center;
    -webkit-background-color: orange;
    -webkit-border-color: orange;
    -webkit-border-radius: 25px;
    -webkit-border-style: solid;
    -webkit-border-width: 0px;
    -webkit-color: white;
    -webkit-padding-top: 5px;
    -webkit-padding-bottom: 5px;
    -webkit-text-align: center;
}

/* 
==================================================
The above piece of code changes the following: background color, border color, border radius, border style, border width, font/text color, top/bottom paddings, text alignment of all footer elements to the following respective values: orange, orange, 25px, solid, 0px, white, 5px, 5px, center; as well as adding cross-browser extensions so that the above piece of code will function properly with the following browsers: Safari, Mozilla Firefox, Internet Explorer, Microsoft Edge, Google Chrome, Opera.
==================================================
*/

footer>a#contacts {
    background-color: #222;
    border-color: orange;
    border-radius: 25px;
    border-style: groove;
    border-width: 3px;
    color: white;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    text-decoration: unset;
    transition: 0.5s;
    -moz-background-color: #222;
    -moz-border-color: orange;
    -moz-border-radius: 25px;
    -moz-border-style: groove;
    -moz-border-width: 3px;
    -moz-color: white;
    -moz-list-style-type: none;
    -moz-padding-top: 5px;
    -moz-padding-bottom: 5px;
    -moz-padding-left: 25px;
    -moz-padding-right: 25px;
    -moz-text-align: center;
    -moz-text-decoration: unset;
    -moz-transition: 0.5s;
    -ms-background-color: #222;
    -ms-border-color: orange;
    -ms-border-radius: 25px;
    -ms-border-style: groove;
    -ms-border-width: 3px;
    -ms-color: white;
    -ms-list-style-type: none;
    -ms-padding-top: 5px;
    -ms-padding-bottom: 5px;
    -ms-padding-left: 25px;
    -ms-padding-right: 25px;
    -ms-text-align: center;
    -ms-text-decoration: unset;
    -ms-transition: 0.5s;
    -o-background-color: #222;
    -o-border-color: orange;
    -o-border-radius: 25px;
    -o-border-style: groove;
    -o-border-width: 3px;
    -o-color: white;
    -o-list-style-type: none;
    -o-padding-top: 5px;
    -o-padding-bottom: 5px;
    -o-padding-left: 25px;
    -o-padding-right: 25px;
    -o-text-align: center;
    -o-text-decoration: unset;
    -o-transition: 0.5s;
    -webkit-background-color: #222;
    -webkit-border-color: orange;
    -webkit-border-radius: 25px;
    -webkit-border-style: groove;
    -webkit-border-width: 3px;
    -webkit-color: white;
    -webkit-list-style-type: none;
    -webkit-padding-top: 5px;
    -webkit-padding-bottom: 5px;
    -webkit-padding-left: 25px;
    -webkit-padding-right: 25px;
    -webkit-text-align: center;
    -webkit-text-decoration: unset;
    -webkit-transition: 0.5s;
}

/* 
==================================================
The above piece of code changes the following: background color, border color, border radius, border style, border width, font/text color, top/bottom/left/right paddings, text alignment, text decoration of all <a> (all <a> elements with the id of "contacts" as well as being direct children of footer elements) elements to the following respective values: #222, orange, 25px, groove, 3px, white, 5px, 5px, 25px, 25px, center, none; as well as adding cross-browser extensions so that the above piece of code will function properly with the following browsers: Safari, Mozilla Firefox, Internet Explorer, Microsoft Edge, Google Chrome, Opera.
==================================================
*/

footer>a#contacts:hover {
    background-color: #222;
    border-color: orange;
    border-style: groove;
    border-width: 3px;
    color: white;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 0.5s;
    -moz-background-color: #222;
    -moz-border-color: orange;
    -moz-border-style: groove;
    -moz-border-width: 3px;
    -moz-color: white;
    -moz-font-weight: bold;
    -moz-padding-top: 6px;
    -moz-padding-bottom: 6px;
    -moz-padding-left: 50px;
    -moz-padding-right: 50px;
    -moz-transition: 0.5s;
    -ms-background-color: #222;
    -ms-border-color: orange;
    -ms-border-style: groove;
    -ms-border-width: 3px;
    -ms-color: white;
    -ms-font-weight: bold;
    -ms-padding-top: 6px;
    -ms-padding-bottom: 6px;
    -ms-padding-left: 50px;
    -ms-padding-right: 50px;
    -ms-transition: 0.5s;
    -o-background-color: #222;
    -o-border-color: orange;
    -o-border-style: groove;
    -o-border-width: 3px;
    -o-color: white;
    -o-font-weight: bold;
    -o-padding-top: 6px;
    -o-padding-bottom: 6px;
    -o-padding-left: 50px;
    -o-padding-right: 50px;
    -o-transition: 0.5s;
    -webkit-background-color: #222;
    -webkit-border-color: orange;
    -webkit-border-style: groove;
    -webkit-border-width: 3px;
    -webkit-color: white;
    -webkit-font-weight: bold;
    -webkit-padding-top: 6px;
    -webkit-padding-bottom: 6px;
    -webkit-padding-left: 50px;
    -webkit-padding-right: 50px;
    -webkit-transition: 0.5s;
}

/* 
==================================================
The above piece of code changes the following: background color, border color, border style, border width, font/text color, font weight, top/bottom/left/right paddings of all <a> (all <a> elements with the id of "contacts" as well as being direct children of footer elements) elements (when they are hovered upon) to the following respective values: #222, orange, groove, 3px, white, bold, 6px, 6px, 50px, 50px; as well as adding cross-browser extensions so that the above piece of code will function properly with the following browsers: Safari, Mozilla Firefox, Internet Explorer, Microsoft Edge, Google Chrome, Opera.
==================================================
*/

/*
===========================================================================
Footer Styles (END)
===========================================================================
*/

/*
==================================================
Mobile Styles: 0px to 480px
==================================================
*/

/*
==================================================
Printing Styles
==================================================
*/
@media print {}